@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: var(--font-raleway);
}

img {
    max-width: auto;
}

#mainText .main-header,
#testimonials h1 span,
#about h1 span,
#services h1 span,
#contact h1 span {
    font-family: var(--font-mr-dafoe);
}