
.icon-container {
	.icon-hover {
		right: 3.4em;
	}
	&:hover {
		.icon-hover {
			opacity: 1;
		}
	}
	&:nth-child(1) {
		.icon-hover {
			right: 3.45em;
		}
	}
	&:nth-child(2) {
		.icon-hover {
			right: 3.4em;
		}
	}
	&:nth-child(3) {
		.icon-hover {
			right: 3.15em;
		}
	}
}
