@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-container {
    position: relative;
}
.icon-container .icon-hover {
    position: absolute;
    right: 3.4em;
    object-fit: contain;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.icon-container:hover .icon-hover {
    opacity: 1;
}
.icon-container:nth-child(1) .icon-hover {
    right: 3.45em;
}
.icon-container:nth-child(2) .icon-hover {
    right: 3.4em;
}
.icon-container:nth-child(3) .icon-hover {
    right: 3.15em;
}