#catCarousel {
   .slick-arrow {
        display: none !important;
   }

   h1 {
      transform: rotate(-8deg);

      span {
         background-size: 100% 15%;
         background-repeat: repeat-x;
         background-position: left 0% bottom 10%;
         background-image: linear-gradient(179deg,#EBB007 0%, #EBB007 50%, transparent 54%, transparent 100%);
     }

     @media (min-width: 1400px) {
         font-size: 4.2em;
     }
   }
}