#openHamburgerMenu {
    .justify-between {
        @media (min-width: 1200px) {
            padding-left: 0.7rem;
        }
    }

    hr.block {
        margin: 1em 0em;
    }

    span.hidden,
    .justify-normal span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-size: 100% 15%;
        background-repeat: repeat-x;
        background-position: left 0% bottom 0%;
        background-image: linear-gradient(179deg, #1c2e4a 0%, #1c2e4a 50%, transparent 54%, transparent 100%);
    }
}