#services {
    .accordion-div-first,
    .accordion-div-fifth {
        margin-left: 3em !important;
    }
    .accordion-div-second,
    .accordion-div-fourth {
        margin-left: 2em !important;
        margin-right: 2em !important;
    }

    .accordion-div-third {
        margin-right: 3em !important;
    }

    .MuiPaper-root {
        margin: 2em 0em;
        border-bottom: 2px solid #fff;
    }

    .MuiAccordionSummary-gutters {
        background-color: #1c2e4a;
    }

    .css-i4bv87-MuiSvgIcon-root {
        fill: #fff !important;
    }

    img.shadow-2xl {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        outline: 0.2vw solid #fff;
        outline-offset: 15px;
    }

    #muiAccordion {
        h1 {
            span {
                background-size: 100% 15%;
                background-repeat: repeat-x;
                background-position: left 0% bottom 10%;
                background-image: linear-gradient(179deg,#fff 0%, #fff 50%, transparent 54%, transparent 100%);
                padding-bottom: 0.4em;
                font-family: var(--font-raleway);
            }
        }
    }
}