#services {
    .MuiPaper-root {
        margin: 1.2em 0em;
        border-bottom: 2px solid #fff;
    }
    img.shadow-2xl {
        max-width: 50%;
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        outline: 0.2vw solid #fff;
        outline-offset: 15px;
    }
    .accordion-div-first,
    .accordion-div-third,
    .accordion-div-fifth {
        margin-left: 0.5em;
    }
    .accordion-div-second,
    .accordion-div-fourth {
        margin-right: 0.5em;
    }
    .MuiAccordionSummary-gutters {
        background-color: #1c2e4a;
    }
    .css-i4bv87-MuiSvgIcon-root {
        fill: #fff !important;
    }

    @media (min-width: 400px) {
        .accordion-div-first,
        .accordion-div-third,
        .accordion-div-fifth {
            margin-left: 0.9em;
        }
        .accordion-div-second,
        .accordion-div-fourth {
            margin-right: 0.9em;
        }
    }

    @media (min-width: 576px) {
        .accordion-div-first,
        .accordion-div-third,
        .accordion-div-fifth {
            margin-left: 1em;
        }
        .accordion-div-second,
        .accordion-div-fourth {
            margin-right: 1em;
        }
    }

    @media (min-width: 768px) {
        .MuiPaper-root {
            margin: 2em 0em;
        }
        img.shadow-2xl {
            max-width: 100%;
        }
        .accordion-div-first,
        .accordion-div-fifth {
            margin-left: 3em !important;
        }
        .accordion-div-second,
        .accordion-div-fourth {
            margin-left: 2em !important;
            margin-right: 2em !important;
        }

        .accordion-div-third {
            margin-right: 3em !important;
        }
    }
}