#testimonials {
    clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);

    @media (min-width: 576px) {
        clip-path: polygon(100% 0, 100% 92%, 0 100%, 0 8%);
    }

    .testimonials-container {
        .testimonials-flex {
            div {
                margin-top: 1.4em;
            }

            .testimonial-paragraph {
                font-size: 0.9em;
            }

            @media (min-width: 576px) {
                div {
                    margin-top: 1.5em;
                }
                .testimonial-paragraph {
                    font-size: 1em;
                }
            }
            @media (min-width: 768px) {
                div {
                    margin-top: 0em;
                }
                div:last-of-type {
                    margin-top: 1.6em;
                }
                .testimonial-paragraph {
                    font-size: 0.9em;
                }
            }
            @media (min-width: 1200px) {
                div:first-of-type,
                div:last-of-type {
                    margin-top: 3em;
                }
                .testimonial-paragraph {
                    font-size: 1em;
                }
            }
        }
    }

    .rounded-full {
        outline: 0.2vw solid #fff;
        outline-offset: 10px;
    }
}