#photoCallout {
    .slide {
        border-radius: 1.2em;
        flex: 2;
        transition: all 500ms ease-in-out;

        div {
            margin: auto;
        }
    }

    .slide.active,
    .slide.active .absolute {
        opacity: 1;
    }
    
    .slide.active {
        flex: 10;
        margin-top: 1em;
    }
    
    .slide.active .absolute {
        transition: opacity 0.3s ease-in 0.4s;
    }
}